$xCols: 13;
$yCols: 13;
$squareSize: 50px;

$xBrickSize: 12.5px;
$yBrickSize: 12.5px;
$brickGlueSize: 2px;

$random7: random(7);

$brickPalette: (#a35143, #ca6553, #dd745f, #65342f, #d55846, #8f3733, #ae4740);

#game-canvas{
  position: relative;
  width: $xCols * $squareSize;
  height: $yCols * $squareSize;
  background: black;
  margin: 20px auto;
  #eagle{
    position: absolute;
    width: $squareSize;
    height: $squareSize;
    background: url('/img/eagle.png') no-repeat center;
  }
  .obstacle{
    position: absolute;
    width: $squareSize;
    height: $squareSize;
    .left, .right, .bottom, .top, .full{
      background: #ccc;
      float: left;
    }
    .left{
      width: 25px;
    }
    .right{
      width: 25px;
      float: right;
    }
  }
  .brick{
    float: left;
    width: $xBrickSize;
    height: $yBrickSize - $brickGlueSize;
    background: nth($brickPalette, $random7);
    margin-bottom: $brickGlueSize;
    &.brick2{
      margin-left: $brickGlueSize;
      width: $xBrickSize - $brickGlueSize;
    }
  }
  .metal{
    float: left;
    width: $xBrickSize * 2;
    height: $yBrickSize * 2;
    background: #ddd;
    -webkit-box-shadow: inset 0 0 2px 4px #848484;
    box-shadow: inset 0 0 2px 4px #848484;
  }
}